<div class="advertising {{ modal ? 'modal' : '' }}" data-campana={{ campana }} data-name={{ name }} data-localization={{ localization }} style="width: {{ width }}px; height: {{ height }}px;">
  {% if path %}
    <a href="{{ path }}" target="_blank">
      <img src="{{ url }}" width="{{ width }}" height="{{ height }}"/>
    </a>
  {% else %}
    <img src="{{ url }}" width="{{ width }}" height="{{ height }}"/>
  {% endif %}
</div>





