
<div class="advertising {{ modal ? 'modal' : '' }}" data-campana={{ campana }} data-name={{ name }} data-localization={{ localization }} style="width: {{ width }}px; height: {{ height }}px;">

  {{ body|raw }}
</div>






