
<div class="advertising advertising-superior" data-campana={{ campana }} data-name={{ name }} data-localization={{ localization }}>
  <p>{{ body|raw }}</p>
  <a href={{ path }}>{{ button }}</a>
</div>






